@import "tailwindcss";

html,body {
    scroll-behavior: smooth;
    font-family: 'Cairo-Bold', 'Noto Sans Arabic', sans-serif;
    background-color: #e7d6df;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Cairo-Bold';
  src: url('/fonts/Cairo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cairo-medium';
  src: url('/fonts/Cairo-Black.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cairo-regular';
  src: url('/fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cairo-semibold';
  src: url('/fonts/Cairo-SemiBold.ttf') format('truetype');
}

.arabic-font-bold {
  font-family: 'Cairo-Medium', sans-serif;
}
.arabic-font-medium {
  font-family: 'Cairo-Medium', 'Noto Sans Arabic', sans-serif;
  font-feature-settings: 'ss01' on;
  font-weight: 500;
}
.arabic-font-regular {
  font-family: 'Cairo-regular', sans-serif;
}
.arabic-font-semibold {
  font-family: 'Cairo-semibold', sans-serif;
}
